{;;  Companies
 :companies

 [{:name "Nut Site"}
  {:name "ABC Organics"}]

;;  The standard units of measure
 :uoms

 [{:name "Pound" :code "lb" :type :units.type/WEIGHT :system :units.system/IMPERIAL}
  {:name "Gram" :code "gr" :type :units.type/WEIGHT :system :units.system/METRIC}
  {:name "Kilogram" :code "kg" :type :units.type/WEIGHT :system :units.system/METRIC}

  {:name "Each" :code "ea" :type :units.type/CUSTOM :system :units.system/CUSTOM}
  {:name "Pallet" :code "pallet" :type :units.type/CUSTOM :system :units.system/CUSTOM}
  {:name "Case" :code "case" :type :units.type/CUSTOM :system :units.system/CUSTOM}]

 ;;  The conversions between units of measure
 :conversions

 [{:from "lb"
   :to "gr"
   :quantity 453.1}

  {:from "kg"
   :to "gr"
   :quantity 1000.0}

  {:from "gr"
   :to "gr"
   :quantity 1.0}]


;;  Seed items, both ingredient and recipe
 :items

 [{:name "Salt" :yield 1.0 :uom "gr"}
  {:name "Garlic Powder" :yield 1.0 :uom "gr"}
  {:name "Onion Powder" :yield 1.0 :uom "gr"}
  {:name "Bay Leaves" :yield 1.0 :uom "gr"}
  {:name "Asafoetida" :yield 1.0 :uom "gr"}
  {:name "Pearl Dust" :yield 1.0 :uom "gr"}

  {:name "Pepper" :yield 1.0 :uom "gr"}
  {:name "Turmeric" :yield 1.0 :uom "gr"}

  {:name "Special Sauce"
   :yield 130.0
   :uom "gr"
   :items [{:name "Salt"
            :quantity 10.0
            :uom "gr"}

           {:name "Garlic Powder"
            :quantity 20.0
            :uom "gr"}

           {:name "Onion Powder"
            :quantity 20.0
            :uom "gr"}

           {:name "Asafoetida"
            :quantity 30.0
            :uom "gr"}

           {:name "Pearl Dust"
            :quantity 50.0
            :uom "gr"}]}

  {:name "Spicy Sauce"
   :yield 30.0
   :uom "gr"
   :items [{:name "Pepper"
            :quantity 10.0
            :uom "gr"}

           {:name "Turmeric"
            :quantity 10.0
            :uom "gr"}

           {:name "Asafoetida"
            :quantity 10.0
            :uom "gr"}]}

  {:name "Master Sauce"
   :yield 40.0
   :uom "gr"
   :items [{:name "Special Sauce"
            :quantity 20.0
            :uom "gr"}

           {:name "Spicy Sauce"
            :quantity 20.0
            :uom "gr"}]}


  {:name "Chorizo Wrap"
   :yield 1.0
   :uom "ea"
   :items [{:name "Master Sauce"
            :quantity 50.0
            :uom "gr"}

           {:name "Salt"
            :quantity 10.0
            :uom "gr"}

           {:name "Pepper"
            :quantity 10.0
            :uom "gr"}]}

  {:name "Chorizo Family Pack"
   :yield 1.0
   :uom "ea"
   :items [{:name "Chorizo Wrap"
            :quantity 12.0
            :uom "ea"}]}]

;;  Prices
 :company-items

 [{:item "Salt"
   :name "Sea Salt, Fine"
   :description "Sea salt, description"
   :company "ABC Organics"
   :sku "SAL-001"
   :quotes [{:valid-from "1981-01-21"
             :valid-to "2024-01-21"
             :cost 1.0
             :uom "lb"
             :quantity 1.0}]}

  {:item "Salt"
   :name "Sea Salt, coarse"
   :description "Sea salt, description"
   :company "ABC Organics"
   :sku "SAL-002"
   :quotes [{:valid-from "1981-01-21"
             :valid-to "2024-01-21"
             :cost 2.0
             :uom "lb"
             :quantity 1.0}]}

  {:item "Garlic Powder"
   :name "Garlic powder, fine"
   :description "Garlic powder description"
   :company "ABC Organics"
   :sku "GRL-PWD-001"
   :quotes [{:valid-from "1981-01-21"
             :valid-to "2021-01-21"
             :cost 2.0
             :uom "lb"
             :quantity 1.0}
            {:valid-from "2021-01-22"
             :valid-to "2024-01-21"
             :cost 5.0
             :uom "lb"
             :quantity 1.0}]}

  {:item "Onion Powder"
   :name "Onion powder, fine"
   :description "Onion powder description"
   :company "ABC Organics"
   :sku "ON-PWD-001"
   :quotes [{:valid-from "1981-01-21"
             :valid-to "2021-01-21"
             :cost 2.0
             :uom "lb"
             :quantity 1.0}
            {:valid-from "2021-01-22"
             :valid-to "2024-01-21"
             :cost 5.0
             :uom "lb"
             :quantity 1.0}]}

  {:item "Bay Leaves"
   :name "Bay leaves whole"
   :description "Bay leaves description"
   :company "ABC Organics"
   :sku "BAY-001"
   :quotes [{:valid-from "1981-01-21"
             :valid-to "2021-01-21"
             :cost 2.0
             :uom "lb"
             :quantity 1.0}
            {:valid-from "2021-01-22"
             :valid-to "2024-01-21"
             :cost 5.0
             :uom "lb"
             :quantity 1.0}]}

  {:item "Asafoetida"
   :name "Asafoetida resin"
   :description "Asafoetida description"
   :company "ABC Organics"
   :sku "ASS-PWD-001"
   :quotes [{:valid-from "1981-01-21"
             :valid-to "2021-01-21"
             :cost 2.0
             :uom "lb"
             :quantity 1.0}
            {:valid-from "2021-01-22"
             :valid-to "2024-01-21"
             :cost 5.0
             :uom "lb"
             :quantity 1.0}]}

  {:item "Pearl Dust"
   :name "Pearl dust, fine"
   :description "Pearl dust description"
   :company "ABC Organics"
   :sku "PD-PWD-001"
   :quotes [{:valid-from "1981-01-21"
             :valid-to "2021-01-21"
             :cost 2.0
             :uom "lb"
             :quantity 1.0}
            {:valid-from "2021-01-22"
             :valid-to "2024-01-21"
             :cost 5.0
             :uom "lb"
             :quantity 1.0}]}

  {:item "Turmeric"
   :name "Turmeric powder, fine"
   :description "Turmeric powder description"
   :company "ABC Organics"
   :sku "P002"
   :quotes [{:valid-from "1981-01-21"
             :valid-to "2021-01-21"
             :cost 1000.0
             :uom "pallet"
             :quantity 1.0}
            {:valid-from "2021-01-22"
             :valid-to "2024-01-21"
             :cost 1.0
             :uom "lb"
             :quantity 1.0}]
   :conversions [{:from "case"
                  :to "lb"
                  :quantity 25.0}
                 {:from "pallet"
                  :to "case"
                  :quantity 50.0}]}

  {:item "Pepper"
   :name "Pepper, whole, malabaar"
   :description "Pepper description"
   :company "Nut Site"
   :sku "P001"
   :quotes [{:valid-from "1981-01-21"
             :valid-to "2021-01-21"
             :cost 1000.0
             :uom "pallet"
             :quantity 1.0}
            {:valid-from "2021-01-22"
             :valid-to "2024-01-21"
             :cost 1.0
             :uom "lb"
             :quantity 1.0}]
   :conversions [{:from "case"
                  :to "lb"
                  :quantity 25.0}
                 {:from "pallet"
                  :to "case"
                  :quantity 50.0}]}]}