{;;  Companies
 :companies

 [{:name "Nut Site"}
  {:name "ABC Organics"}
  {:name "Better Life"}
  {:name "H&L"}]

;;  The standard units of measure
 :uoms

 [{:name "Pound" :code "lb" :type :units.type/WEIGHT :system :units.system/IMPERIAL}
  {:name "Gram" :code "gr" :type :units.type/WEIGHT :system :units.system/METRIC}
  {:name "Kilogram" :code "kg" :type :units.type/WEIGHT :system :units.system/METRIC}

  {:name "Each" :code "ea" :type :units.type/CUSTOM :system :units.system/CUSTOM}
  {:name "Pallet" :code "pallet" :type :units.type/CUSTOM :system :units.system/CUSTOM}
  {:name "Case" :code "case" :type :units.type/CUSTOM :system :units.system/CUSTOM}
  {:name "Bunch" :code "bunch" :type :units.type/CUSTOM :system :units.system/CUSTOM}
  {:name "Leaf" :code "leaf" :type :units.type/CUSTOM :system :units.system/CUSTOM}]

;;  Time
 :times

 [{:name "Seconds" :ident :second :factor 3600.0}
  {:name "Minutes" :ident :minute :factor 60.0}
  {:name "Hours" :ident :hour :factor 1.0}]

;;  Roles
 :roles

 [{:name "Sauce master" :cost 50.0 :duration 1.0 :duration-interval :hour}
  {:name "General prep" :cost 20.0 :duration 1.0 :duration-interval :hour}
  {:name "Manager" :cost 100.0 :duration 1.0 :duration-interval :hour}
  {:name "QA" :cost 50.00 :duration 1.0 :duration-interval :hour}
  {:name "USDA" :cost 100.0 :duration 1.0 :duration-interval :hour}]

 ;;  The conversions between units of measure
 :conversions

 [{:from "lb"
   :to "gr"
   :quantity 453.1}

  {:from "kg"
   :to "gr"
   :quantity 1000.0}

  {:from "gr"
   :to "gr"
   :quantity 1.0}]

;;  Seed items, both ingredient and recipe
 :items

 [{:name "Salt" :yield 1.0 :uom "gr"}
  {:name "Pepper" :yield 1.0 :uom "gr"}
  {:name "Paprika" :yield 1.0 :uom "gr"}
  {:name "Fenugreek" :yield 1.0 :uom "gr"}
  {:name "Asafoetida" :yield 1.0 :uom "gr"}
  {:name "Cardamom" :yield 1.0 :uom "gr"}
  {:name "Collards" :yield 1.0 :uom "leaf"}

  {:name "Sauce"
   :yield 1.0
   :uom "lb"
   :process {:quantity 25.0
             :uom "lb"
             :labor [{:role "Sauce master"
                      :description "Weigh and blend"
                      :duration 10.0
                      :duration-interval :minute}

                     {:role "General prep"
                      :description "Slice onions"
                      :duration 25.0
                      :duration-interval :minute}

                     {:role "General prep"
                      :description "Mix in chili flakes"
                      :duration 25.0
                      :duration-interval :minute}

                     {:role "General prep"
                      :description "Cool and transfer"
                      :duration 15.0
                      :duration-interval :minute}]}
   :line-items [{:name "Salt"
                 :quantity 1.0
                 :uom "lb"}
                {:name "Pepper"
                 :quantity 1.0
                 :uom "lb"}
                {:name "Paprika"
                 :quantity 1.0
                 :uom "lb"}
                {:name "Fenugreek"
                 :quantity 1.0
                 :uom "lb"}
                {:name "Asafoetida"
                 :quantity 1.0
                 :uom "lb"}
                {:name "Cardamom"
                 :quantity 1.0
                 :uom "lb"}]}

  {:name "Wrap"
   :yield 1.0
   :uom "lb"
   :line-items [{:name "Sauce"
                 :quantity 1000.0
                 :uom "gr"}
                {:name "Collards"
                 :quantity 2.0
                 :uom "leaf"}
                {:name "Cardamom"
                 :quantity 2.0
                 :uom "gr"}]
   :process {:quantity 50.0
             :uom "lb"
             :labor [{:role "Sauce master"
                      :description "Weigh and blend"
                      :duration 10.0
                      :duration-interval :minute}

                     {:role "General prep"
                      :description "Package position #1"
                      :duration 10.0
                      :duration-interval :minute}]}}]

;;  Prices
 :company-items

 [{:item "Collards"
   :name "Collard greens, whole"
   :description "Lakeside Collard Greens"
   :company "H&L"
   :sku "COL-002"
   :quotes [{:valid-from "1981-01-21"
             :valid-to "2024-01-21"
             :cost 40.0
             :uom "case"
             :quantity 1.0}]
   :conversions [{:from "case"
                  :to "bunch"
                  :quantity 24.0}
                 {:from "bunch"
                  :to "leaf"
                  :quantity 10.0}]}
  {:item "Collards"
   :name "Collard greens, whole"
   :description "Cal-O Collard Greens"
   :company "Better Life"
   :sku "COL-001"
   :quotes [{:valid-from "1981-01-21"
             :valid-to "2024-01-21"
             :cost 30.0
             :uom "case"
             :quantity 1.0}]
   :conversions [{:from "case"
                  :to "bunch"
                  :quantity 24.0}
                 {:from "bunch"
                  :to "leaf"
                  :quantity 7.0}]}

  {:item "Salt"
   :name "Sea Salt, Fine"
   :description "Sea salt, description"
   :company "ABC Organics"
   :sku "SAL-001"
   :quotes [{:valid-from "1981-01-21"
             :valid-to "2024-01-21"
             :cost 10.0
             :uom "lb"
             :quantity 1.0}]
   :conversions [{:from "pallet"
                  :to "case"
                  :quantity 10.0}
                 {:from "case"
                  :to "lb"
                  :quantity 10.0}]}

  {:item "Pepper"
   :name "Pepper, whole, malabaar"
   :description "Pepper description"
   :company "Nut Site"
   :sku "P001"
   :quotes [{:valid-from "2021-01-22"
             :valid-to "2024-01-21"
             :cost 1.0
             :uom "lb"
             :quantity 1.0}]
   :conversions [{:from "pallet"
                  :to "case"
                  :quantity 10.0}
                 {:from "case"
                  :to "lb"
                  :quantity 10.0}]}

  {:item "Paprika"
   :name "Paprika, powder"
   :description "Paprika description"
   :company "Nut Site"
   :sku "PAP-001"
   :quotes [{:valid-from "2021-01-22"
             :valid-to "2024-01-21"
             :cost 1.0
             :uom "lb"
             :quantity 1.0}]
   :conversions [{:from "pallet"
                  :to "case"
                  :quantity 10.0}
                 {:from "case"
                  :to "lb"
                  :quantity 10.0}]}

  {:item "Fenugreek"
   :name "Fenugreek, whole, malabaar"
   :description "Fenugreek description"
   :company "Nut Site"
   :sku "FEN-001"
   :quotes [{:valid-from "2021-01-22"
             :valid-to "2024-01-21"
             :cost 1.0
             :uom "lb"
             :quantity 1.0}]
   :conversions [{:from "pallet"
                  :to "case"
                  :quantity 10.0}
                 {:from "case"
                  :to "lb"
                  :quantity 10.0}]}

  {:item "Asafoetida"
   :name "Asafoetida, whole, malabaar"
   :description "Asafoetida description"
   :company "Nut Site"
   :sku "ASA-001"
   :quotes [{:valid-from "2021-01-22"
             :valid-to "2024-01-21"
             :cost 1.0
             :uom "lb"
             :quantity 1.0}]
   :conversions [{:from "pallet"
                  :to "case"
                  :quantity 10.0}
                 {:from "case"
                  :to "lb"
                  :quantity 10.0}]}


  {:item "Cardamom"
   :name "Cardamom, whole, malabaar"
   :description "Cardamom description"
   :company "Nut Site"
   :sku "CAR-001"
   :quotes [{:valid-from "2021-01-22"
             :valid-to "2024-01-21"
             :cost 1.0
             :uom "lb"
             :quantity 1.0}]
   :conversions [{:from "pallet"
                  :to "case"
                  :quantity 10.0}
                 {:from "case"
                  :to "lb"
                  :quantity 10.0}]}]}