#_{:linters {:mount/defstate {:level :warning}}
   :lint-as {mount.core/defstate clojure.core/def}
   :hooks {:analyze-call {mount.core/defstate hooks.defstate/defstate}}}

{:lint-as {mount.core/defstate clojure.core/def}}