{:linters
 {:for-indexed/missing-index {:level :error}}

 :hooks
 {:analyze-call {rdd.grand-central.utils.utils/for-indexed hooks.for-indexed/for-indexed}}

 :lint-as {mount.core/defstate clojure.core/def}}

