{:schema [;;   Companies
          {:db/ident :company/uuid
           :db/unique :db.unique/identity
           :db/valueType :db.type/string
           :db/cardinality :db.cardinality/one}

          {:db/ident :company/name
           :db/unique :db.unique/identity
           :db/valueType :db.type/string
           :db/cardinality :db.cardinality/one}

          {:db/ident :company/company-items
           :db/isComponent true
           :db/valueType :db.type/ref
           :db/cardinality :db.cardinality/many}

          ;;   Items
          {:db/ident :production.type/ATOM}
          {:db/ident :production.type/COMPOSITE}

          {:db/ident :item/uuid
           :db/unique :db.unique/identity
           :db/valueType :db.type/string
           :db/cardinality :db.cardinality/one}

          {:db/ident :item/name
           :db/unique :db.unique/identity
           :db/valueType :db.type/string
           :db/cardinality :db.cardinality/one}

          {:db/ident :item/production-type
           :db/valueType :db.type/ref
           :db/cardinality :db.cardinality/one}

          {:db/ident :item/process
           :db/valueType :db.type/ref
           :db/cardinality :db.cardinality/one}

          ;; Time
          {:db/ident :time/interval
           :db/doc "Time uom, seconds, minutes, hours as keyword"
           :db/unique :db.unique/identity
           :db/valueType :db.type/keyword
           :db/cardinality :db.cardinality/one}

          {:db/ident :time/name
           :db/valueType :db.type/string
           :db/cardinality :db.cardinality/one}

          {:db/ident :time/duration
           :db/doc "A duration of time"
           :db/valueType :db.type/double
           :db/cardinality :db.cardinality/one}

          {:db/ident :time/duration-interval
           :db/doc "The duration interval used"
           :db/valueType :db.type/ref
           :db/cardinality :db.cardinality/one}

          ;; Roles
          {:db/ident :role/uuid
           :db/unique :db.unique/identity
           :db/valueType :db.type/string
           :db/cardinality :db.cardinality/one}

          {:db/ident :role/name
           :db/unique :db.unique/identity
           :db/valueType :db.type/string
           :db/cardinality :db.cardinality/one}

          ;; Process
          {:db/ident :process/uuid
           :db/unique :db.unique/identity
           :db/valueType :db.type/string
           :db/cardinality :db.cardinality/one}

          {:db/ident :process/labor
           :db/valueType :db.type/ref
           :db/cardinality :db.cardinality/many}

          ;; Labor
          {:db/ident :labor/uuid
           :db/unique :db.unique/identity
           :db/valueType :db.type/string
           :db/cardinality :db.cardinality/one}

          {:db/ident :labor/role
           :db/valueType :db.type/ref
           :db/cardinality :db.cardinality/one}


          ;; CompanyItems
          {:db/ident :company-item/uuid
           :db/unique :db.unique/identity
           :db/valueType :db.type/string
           :db/cardinality :db.cardinality/one}

          {:db/ident :company-item/name
           :db/valueType :db.type/string
           :db/cardinality :db.cardinality/one}

          {:db/ident :company-item/sku
           :db/unique :db.unique/identity
           :db/valueType :db.type/string
           :db/cardinality :db.cardinality/one}

          {:db/ident :company-item/item
           :db/valueType :db.type/ref
           :db/cardinality :db.cardinality/one}

          {:db/ident :company-item/quotes
           :db/isComponent true
           :db/valueType :db.type/ref
           :db/cardinality :db.cardinality/many}

        ;;   Recipe Line Items
          {:db/ident :recipe-line-item/uuid
           :db/unique :db.unique/identity
           :db/valueType :db.type/string
           :db/cardinality :db.cardinality/one}

          {:db/ident :recipe-line-item/item
           :db/valueType :db.type/ref
           :db/cardinality :db.cardinality/one}

          {:db/ident :recipe-line-item/company-item
           :db/valueType :db.type/ref
           :db/cardinality :db.cardinality/one}

        ;;   UOMs
          {:db/ident :uom/uuid
           :db/unique :db.unique/identity
           :db/valueType :db.type/string
           :db/cardinality :db.cardinality/one}

          {:db/ident :uom/name
           :db/valueType :db.type/string
           :db/unique :db.unique/identity
           :db/cardinality :db.cardinality/one}

          {:db/ident :uom/code
           :db/valueType :db.type/string
           :db/unique :db.unique/identity
           :db/cardinality :db.cardinality/one}

          {:db/ident :uom/type
           :db/valueType :db.type/ref
           :db/cardinality :db.cardinality/one}

          {:db/ident :uom/system
           :db/valueType :db.type/ref
           :db/cardinality :db.cardinality/one}

          {:db/ident :uom/conversions
           :db/isComponent true
           :db/valueType :db.type/ref
           :db/cardinality :db.cardinality/many}

          ;;   Conversions
          {:db/ident :conversion/uuid
           :db/unique :db.unique/identity
           :db/valueType :db.type/string
           :db/cardinality :db.cardinality/one}

          {:db/ident :conversion/from
           :db/valueType :db.type/ref
           :db/cardinality :db.cardinality/one}

          {:db/ident :conversion/to
           :db/valueType :db.type/ref
           :db/cardinality :db.cardinality/one}

        ;;   Quotes
          {:db/ident :quote/uuid
           :db/unique :db.unique/identity
           :db/valueType :db.type/string
           :db/cardinality :db.cardinality/one}

        ;;   Generic values
        ;;   Information
          {:db/ident :info/description
           :db/valueType :db.type/string
           :db/cardinality :db.cardinality/one}

        ;;   Measurement
          ;; Enums - Measurement system
          {:db/ident :units.system/IMPERIAL}
          {:db/ident :units.system/METRIC}
          {:db/ident :units.system/CUSTOM}

          {:db/ident :units.type/WEIGHT}
          {:db/ident :units.type/VOLUME}
          {:db/ident :units.type/CUSTOM}

          {:db/ident :measurement/quantity
           :db/valueType :db.type/double
           :db/cardinality :db.cardinality/one}

          {:db/ident :measurement/yield
           :db/valueType :db.type/double
           :db/cardinality :db.cardinality/one}

          {:db/ident :measurement/uom
           :db/valueType :db.type/ref
           :db/cardinality :db.cardinality/one}

        ;;   Composite
          {:db/ident :composite/contains
           :db/valueType :db.type/ref
           :db/cardinality :db.cardinality/many}

        ;;   Currency
          {:db/ident :currency.usd/cost
           :db/valueType :db.type/double
           :db/cardinality :db.cardinality/one}

          ;;   Dates
          {:db/ident :date/valid-from
           :db/valueType :db.type/instant
           :db/cardinality :db.cardinality/one}

          {:db/ident :date/valid-to
           :db/valueType :db.type/instant
           :db/cardinality :db.cardinality/one}

          ;; Sorting
          {:db/ident :meta/position
           :db/valueType :db.type/long
           :db/cardinality :db.cardinality/one}

          ;; Scaling
          {:db/ident :scale/factor
           :db/valueType :db.type/double
           :db/cardinality :db.cardinality/one}


          ;; 
          ]}